@model SISTEMA_DE_INVENTARIO_JVS.Usuario

@{
    ViewData["Title"] = "Login Administrador";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SISTEMA_DE_INVENTARIO_JVS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SISTEMA_DE_INVENTARIO_JVS.styles.css" asp-append-version="true" />
</head>

<body>

    <div class="login-container mt-5">

        <h2 class="text-center">Iniciar Sesi칩n</h2>
        <form asp-controller="Acceso" asp-action="Login" method="post">
            <div class="form-group ">
                <input asp-for="UsuarioAdmin" class="form-control" placeholder="Usuario" required />
                <span asp-validation-for="UsuarioAdmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Contrase침a" type="password" class="form-control" placeholder="Contrase침a" required />
                <span asp-validation-for="Contrase침a" class="text-danger"></span>
            </div>
            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Error
                </div>
            }
            <button type="submit" class="btn btn-primary btn-block">Comenzar</button>
        </form>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>