@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Inventario</h1>
</div><br>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="~/img/imagen2.jpg" class="card-img-top" alt="..." height="400">
      <div class="card-body">
        <h5 class="card-title">Productos</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="~/img/imagen1.jpg" class="card-img-top" alt="..." height="400">
      <div class="card-body">
        <h5 class="card-title">Stock</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="~/img/imagen3.jpg" class="card-img-top" alt="..." height="400">
      <div class="card-body">
        <h5 class="card-title">Provedores</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="~/img/imagen4.jpg" class="card-img-top" alt="..." height="400">
      <div class="card-body">
        <h5 class="card-title">Notificaciones</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>