@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Inventario</h1>
</div><br>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="~/img/imagen2.jpg" class="card-img-top" alt="..." height="400">
      <div class="card-body">
        <h5 class="card-title">Productos</h5>
        <p class="card-text">Lista de todos los productos registrados en el sistema. Acceda para ver detalles, agregue nuevos productos o modifique los existentes.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="~/img/imagen1.jpg" class="card-img-top" alt="..." height="400">
      <div class="card-body">
        <h5 class="card-title">Stock</h5>
        <p class="card-text">Consulta el inventario actual y verifica la cantidad disponible de cada producto. Controla el nivel de stock en tiempo real.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="~/img/imagen3.jpg" class="card-img-top" alt="..." height="400">
      <div class="card-body">
        <h5 class="card-title">Proveedores</h5>
        <p class="card-text">Información de todos los proveedores asociados. Gestiona contactos, actualiza datos y agrega nuevos proveedores.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="~/img/imagen4.jpg" class="card-img-top" alt="..." height="400">
      <div class="card-body">
        <h5 class="card-title">Notificaciones</h5>
        <p class="card-text">Alertas importantes sobre el inventario, como productos en bajo stock o entregas pendientes de proveedores.</p>
      </div>
    </div>
  </div>
</div>